* {
    margin:0;
    padding:0;
}
ul {
    list-style-type: none;
}
.Container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.Header {
    background-color: purple;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 3fr;
}

.Content {
    background-color: red;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.ProjectsHeading {
    background-color: turquoise;
}
.Projects {
    grid-row: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.AnnouncementsHeading {
    
}
.Announcements {
    background-color: green;
}
.TrendingHeading {

}
.Trending {
    background-color: darkblue;
}


.Logo {
    background-color: blueviolet;
    padding-bottom: 30px;
}
.Sidebar {
    background-color: lightblue;
    grid-row: 1/-1;
    padding-left: 20px;
}

.Nav ul {
    background-color: yellow;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    padding-bottom: 30px;
}
.Settings ul {
    background-color: aquamarine;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}